@use "variables" as *;

* {
  margin: 0;
  box-sizing: 0;
  background-color: $color-white;
  color: $color-dark-grey;
  font-family: $font-primary;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.main-page-container {
  // margin: 50px 20px 20px;
  margin-top: 25px;
  padding: 0 30px 30px;
  display: grid;
  // grid-template-columns: auto;
  place-items: center;
  justify-self: center;
  // overflow-x: hidden;
}

a {
  display: inline-block;
  background: transparent;
  // border: 2px solid $color-wakanda-purple;
  border-radius: 8px;
  padding: 7px 5px;
  text-decoration: none;
  color: $color-dark-grey;
  transition: 0.4s all;

  &:hover {
    color: $color-white;
    background: $color-dark-grey;
    // border: 2px solid $color-wakanda-purple;
    transition: 0.4s all;
  }
}

i {
  font-size: 30px;
  border-radius: 50%;
  padding: 4px 8px;
}

button {
  display: inline-block;
  outline: none;
  border: 2px solid $color-dark-grey;
  border-radius: 8px;
  padding: 10px 20px;
  text-decoration: none;
  color: $color-dark-grey;
  transition: 0.4s all;

  &:hover {
    color: $color-white;
    background: $color-dark-grey;
    transition: 0.4s all;
  }
}

input {
  outline: none;
  border: none;
  // margin: 0px 0 10px;
  background: $color-light-grey;
  // border: 2px solid $color-wakanda-purple;
  border-radius: 5px;
  padding: 10px;
  width: 350px;
  font-size: 20px;
}

ul,
li,
p,
nav {
  background: transparent;
  margin: 0;
  padding: 0;
  list-style: none;
}

div,
img,
form,
label,
i {
  background: transparent;
}

#intro,
#skills,
#projects,
#experience,
#contact {
  margin: 35px 0;
}

li,
a,
p {
  font-size: 1rem;
  margin: 10px 0;
}

p {
  color: $color-silver;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  justify-self: center;
  margin: 15px 0;
  background: transparent;
}

h1 {
  font-size: $font-heading;
  text-transform: uppercase;
}

h2 {
  font-size: $font-heading;
}

h3 {
  font-size: $font-heading;
}

h4 {
  font-size: $font-heading;
}

h5 {
  font-size: $font-heading;
}

h6 {
  font-size: $font-heading;
}

@media (max-width: $mobile) {
  .main-page-container {
    // margin: 20px 0px;
    padding: 30px 0px;
  }
}
