@use "variables" as *;

.category-container {
  background-color: $color-light-grey;
  // width: 100%;
  padding: 25px 5px;
  margin: 20px 0;
  border-radius: 5px;
  overflow: hidden;

  .category-cards {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20;
    overflow-x: scroll;
    // scroll-behavior: smooth;
    // scrollbar-width: none;

    .card {
      // width: 150px !important;
      text-align: center;
      background-color: $color-white;
      padding: 25px;
      margin: 0 15px;
      border: none;
      border-radius: 50px 50px 0 0;

      h5 {
        width: 100%;
        word-break: none;
      }
    }
  }
}
