@use "variables" as *;

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: self-start;

  .card {
    width: 300px;
    height: 400px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $color-light-grey;
    border: none;
    text-align: center;

    img {
      width: 250px;
      margin: 5px;
      border-radius: 5px;
      height: 220px;
      object-fit: contain;
    }

    h6 {
      font-family: $font-primary;
      margin: 5px;
    }

    button {
      margin-top: 15px;
      width: 200px;
      padding: 5px;
      background: $color-dark-grey;
      color: $color-white;

      &:hover {
        color: $color-dark-grey;
        background: $color-white;
      }
    }
  }
}
