@use "variables" as *;

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //   align-self: center;
  //   border: 1px solid $color-wakanda-purple;
  //   padding: 10px;

  .admin {
    text-align: center;
    margin: 25px 0;
    padding: 15px;
    border-radius: 15px;
    background: linear-gradient(#9b8f8f18 0%, #180a1a 100%);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);

    img {
      width: 150px;
      border-radius: 50%;
    }

    a {
      width: 120px;
      display: inline-block;
    }
  }

  .user {
    text-align: center;
    margin: 25px 0;
    padding: 15px;
    border-radius: 15px;
    background: linear-gradient(#9b8f8f18 0%, #180a1a 100%);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);

    img {
      width: 150px;
      border-radius: 50%;
    }
  }
}
